body {
  background: whitesmoke;
  font-family: "Raleway";
}

header {
  color:mediumspringgreen;
}

.top-bar {
  background: black;
  font-size: 2.5em;
  text-align: center;
}

.row {
}

div {
}

div.fullwidth {
  display:block;
  width: 100%;
  text-align: center;
}


i {
  color:#2199e8;
  text-align: center;
  float:right;
  vertical-align: baseline;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  font-size: inherit;
  background: white;
  padding: 20px;
  list-style: none;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px
}

.hidden {
  display: none;
}

.button {
  color:white;
  background:mediumaquamarine;
  opacity: .9;
  border-radius: 5px;
  font-weight: bolder;
}

#post-list {
  padding-top: 56px;
}

#alertMessage {
  text-align: center;
}

.fa-instagram {
  color: rgba(0, 0, 0, 0.69);
}