<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="socialDashboard" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Social Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
  <link href="//fonts.googleapis.com/css?family=Raleway&subset=latin" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/oauth-js/dist/oauth.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="config.js"></script>
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers/twitter_controller.js"></script>
  <script src="controllers/facebook_controller.js"></script>
  <script src="controllers/instagram_controller.js"></script>
</head>
<body>
  <header>
    <div class="top-bar">babbledash</div>
  </header>
  <main class="row small-up-1 medium-up-3">
    <h6 id='alertMessage'>{{alertMessage}}</h6>

    <div class="column" ng-controller='TwitterController'>
      <div class='full'>
        <a href='#' class="button" id='twitter-auth' ng-click='twitterAuth()'>Log-in with Twitter</a>
        <a href='#' class="button" id='get-tweets' ng-click='getTweets()'>Get Tweets</a>
      </div>

      <form id="tweet_form" ng-submit="postTweets(field)">
        <input id="post-tweet" type="text" placeholder="Tweet your thoughts..." name="field" ng-model="field"/>
        <input id="post-tweet-submit" class="hidden" type="submit" value='Tweet'/>
      </form>

      <ul id='tweet-list'>
        <li ng-repeat="tweet in tweets" id="{{tweet.id}}">

          <h5 class='user' ng-if="tweet.user.name">{{tweet.user.name}}</h5>
          <p class="tweet-display">{{tweet.text}}</p>
          <a class='url' ng-if="tweet.entities.urls[0].url" href="{{tweet.entities.urls[0].url}}">Click link</a>
          <div> <img class='media' ng-if="tweet.entities.media[0].media_url_https" ng-src="{{tweet.entities.media[0].media_url_https}}"></div>
          <h6 class='created-at'>{{tweet.created_at}}<i class="fa fa-twitter fa-2x"></i></h6>
        </li>
      </ul>
    </div>

    <div class="column" ng-controller='InstagramController'>
      <div class="full">
        <a href='#' class="button" id='instagram-auth' ng-click='instagramAuth()'>Log-in with Instagram</a>
        <a href='#' class="button" id='get-photos' ng-click='getPhotos()'>Get Photos</a>
      </div>
      <ul id='post-list-padded'>
        <li ng-repeat="photo in photos" id="{{photo.id}}">
          <img class="photo-display" ng-src="{{photo.images.standard_resolution.url}}">
          <h5 class='user' ng-if="photo.user.full_name">{{photo.user.full_name}}<i class="fa fa-instagram fa-2x"></i></h5>
        </li>
      </ul>
    </div>

    <div class="column" ng-controller='FacebookController'>
      <div class='full'>
        <a href='#' class="button" id='facebook-auth' ng-click='facebookAuth()'>Log-in with Facebook</a>
        <a href='#' class="button" id='get-posts' ng-click='getPosts()'>Get Posts</a>
      </div>
      <form id="status_form" ng-submit="postStatus(post)">
        <input id="post-status" type="text" name="field" placeholder="Update your status..." ng-model="field"> </input>
        <input id="post-status-submit" class="hidden" type="submit" value='Post'></input>
      </form>

      <ul id='post-list'>
        <li ng-repeat="post in posts" id="{{post.id}}">
          <p class="post-display">{{post.message}}</p>
          <a class='url' ng-if="post.entities.urls[0].url" href="{{post.entities.urls[0].url}}">Click link</a>
          <h6 class='created-at'>{{post.created_time}}<i class="fa fa-facebook-official fa-2x"></i></h6>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
