<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="socialDashboard" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Social Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/oauth-js/dist/oauth.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="config.js"></script>
  <script src="app.js"></script>
  <script src="controllers/twitter_controller.js"></script>
  <script src="controllers/facebook_controller.js"></script>
  <script src="controllers/instagram_controller.js"></script>
</head>
<body>
  <div ng-controller='TwitterController'>
    <p id='alertMessage'>{{alertMessage}}</p>
    <a href='#' id='twitter-auth' ng-click='twitterAuth()'>Log-in with Twitter</a>
    <a href='#' id='get-tweets' ng-click='getTweets()'>Get my Tweets</a>

    <form id="tweet_form" ng-submit="postTweets(field)">
      <label for "Tweet">Tweet: </label>
      <input id="post-tweet" type="text" name="field" ng-model="field"> </input>
      <input id="post-tweet-submit" type="submit" value='Tweet'></input>
    </form>

    <ul id='tweet-list'>
      <li ng-repeat="tweet in tweets" id="{{tweet.id}}">
        <p class='created-at'>{{tweet.created_at}}</p>
        <p class="tweet-display">{{tweet.text}}</p>
        <a class='url' ng-if="tweet.entities.urls[0].url" href="{{tweet.entities.urls[0].url}}">Click link</a>
        <div> <img class='media' ng-if="tweet.entities.media[0].media_url_https" ng-src="{{tweet.entities.media[0].media_url_https}}"></div>
        <p class='user' ng-if="tweet.user.name">{{tweet.user.name}}</p>
        <p class="tweet-provider">Provided by {{tweet.provider}}</p>
      </li>
    </ul>
  </div>

  <div ng-controller='FacebookController'>
    <p id='fb-alertMessage'>{{alertMessage}}</p>
    <a href='#' id='facebook-auth' ng-click='facebookAuth()'>Log-in with Facebook</a>

    <form id="status_form" ng-submit="postStatus(post)">
      <label for "Status">Status: </label>
      <input id="post-status" type="text" name="field" ng-model="post"> </input>
      <input id="post-status-submit" type="submit" value='Post'></input>
    </form>
    <a href='#' id='get-posts' ng-click='getPosts()'>Get my FB Posts</a>

    <ul id='post-list'>
      <li ng-repeat="post in posts" id="{{post.id}}">
        <p class='created-at'>{{post.created_time}}</p>
        <p class="post-display">{{post.message}}</p>
        <p class="post-provider">Provided by {{post.provider}}</p>
        <a class='url' ng-if="post.entities.urls[0].url" href="{{post.entities.urls[0].url}}">Click link</a>
      </li>
    </ul>
  </div>

  <div ng-controller='InstagramController'>
    <p id='ig-alertMessage'>{{alertMessage}}</p>
    <a href='#' id='instagram-auth' ng-click='instagramAuth()'>Log-in with Instagram</a>
    <a href='#' id='get-photos' ng-click='getPhotos()'>Get my Photos</a>
    <ul id='post-list'>
      <li ng-repeat="photo in photos" id="{{photo.id}}">
        <img class="photo-display" ng-src="{{photo.images.standard_resolution.url}}">
        <p class='user' ng-if="photo.user.full_name">{{photo.user.full_name}}</p>
        <p class="photo-provider">Provided by {{photo.provider}}</p>
      </li>
    </ul>
  </div>
</body>
</html>
